/* slideshow containers */
*{
    box-sizing: border-box;
}
body{
    background-color: grey;
    margin: 0px;
    padding:0px;
    border-radius: 19mm;
    width: 100vw;
}
header{
    background-color: black;
    width: 100vw;
   
}
header::after{
    content: '';
    display:flex;
    clear: both;
}
.logo{
    float:left;
    padding-top: 10px;
    width:50px;
    height:70px;
    margin-right: 10%;
}
.navbar{
    width:100%;
    float: right;
    margin:0 auto;
    display: flex;
   
    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li{
    display: inline-block;
    margin-right: 70px;
    padding-top: 20px;
}
nav a{
    color:royalblue;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color:whitesmoke;
}


.hero-imageContainer{
    background-image: url(/images/florian-olivo-5d4EhqeV0Og-unsplash.jpg);
    background-repeat: no-repeat;
    padding: 300px;
    height: 100px;
    background-size: cover;
    background-position: center;
   
   
}
.hero-header{
    font-size:42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4632cd;
    line-height: 1.4;
    letter-spacing: 0.4em;
    text-align: center;
    margin-top: -300px;
    
    
}
.homepage-header{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* grid  */
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100vw;
    height:100%;
    margin-top: 2%;
  
    
}
.product-card{
    width:30%;
    height: 40vh;
    text-align: center;
    
}
.product-card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px white,
      0 24px 46px var(--box-shadow-color);
  }

.product-card__img{
    height: 28vh;
    width: 22vw;
}
.product-card__name{
  text-align: justify;
  font-style: italic;
  margin-top: 5%;
  font-size: 16px;
  position: sticky;
  letter-spacing: 0.1em;


}

.product-card__price{
    text-align: justify;
    font-style: italic;
    position: sticky;
    margin-top: -1%;
    font-size: 16px;
   
    
}
  
  

@media screen and (min-width:600px){
    .product-card{
        display:flex;
        flex-wrap:wrap;
        

    }
    .product-card__img{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;

    }
    
}

@media screen and (max-width:870px){
    .product-card{
        display:flex;
        flex-wrap:wrap;
        

    }
    .product-card__img{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;

    }
   
}
      
/* contact */
.hero-image__2{
    background-image: url(/images/miles-burke-idhx-MOCDSk-unsplash.jpg);
    background-repeat: no-repeat;
    padding: 300px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
}
.title1{
    text-align:center;
    font-size: 24px;
}
.container{
    padding: 20px;
  }
  
  input[type="text"], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  input[type="submit"]{
    text-align: center;
    background-color: black;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover{
    background-color: white;
    color: black;
  }
  
  /* Info */
  .info{
    width: 750px;
    padding: 10px;
    border: black solid;
    border-radius: 5px;
  }
  .floatRight{
    float: right;
    height: 200px;
    width: 400px;
    display: block;
    padding-top: 30px;
    padding-right: 50px;
  }
  .icons {
    width: 30px;
  }
  /* footer */
  
  .footer {
    background-color: black;
    font-size: 12px;
    margin-top: 5%;
    height: 10vh;
  }
  .footer-list{
    text-decoration: none;
    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .copyright{
    width:100%;
    color: white;
    text-align: center;
    
  }
  /* sits right in the footer */
  .bottom-logo{
    padding: 0px;
    width: 40px;
    height: 50px;
    float: left;

    
  }
  